<h1><%= @restaurant.name %></h1>

<div>
  <h3>Address:</h3>
  <h5><%= @restaurant.address %></h5>
</div>

<div>
  <h3>Phone Number:</h3>
  <h5><%= @restaurant.phone_number %></h5>
</div>

<div>
  <h3>Category:</h3>
  <h5><%= @restaurant.category %></h5>
</div>

#To be continued
